---
layout: default
---

<article class="contribute">

<h1>If you would like to contribute:</h1>

<form
    action="https://formspree.io/f/xjvnvpka"
    method="POST"
  >
    <label>1. First, please read the <a href="{% link about.md %}">about page</a>.</label>
    <br><br>
    <label>
      2. your email <i>(optional; leave blank to be anonymous):</i><br>
      <input type="email" name="email">
    </label>
    <br><br>
    <label>
      3. your message <i>(anything xenophobic/racist/sexist/wrong will not be tolerated):</i><br>
      <textarea name="message"></textarea>
    </label>
    <br><br>
    <label>
      4. your ascii avatar ♧ <i>(optional):</i><br>
      <textarea name="avatar"></textarea>
    </label>
    <br><br>
    <button type="submit">Submit</button>
  </form>
  

<div class="content">
    {{ content }}
  </div>

</article>